<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

	<suite name="Suite" parallel="false" thread-count="5">
	<test name="TestA" >
<classes>
<class name="testCases.RecipesTest"/>
<parameter name="string" value="A"></parameter>
</classes>
</test> <!-- Test -->
<test name="TestB" >
<classes>
<class name="testCases.RecipesTest"/>
<parameter name="string" value="B"></parameter>
</classes>
</test> <!-- Test -->
<test name="TestC" >
<classes>
<class name="testCases.RecipesTest"/>
<parameter name="string" value="C"></parameter>
</classes>
</test> <!-- Test -->
<test name="TestD" >
<classes>
<class name="testCases.RecipesTest"/>
<parameter name="string" value="D"></parameter>
</classes>
</test> <!-- Test -->
<test name="TestE" >
<classes>
<class name="testCases.RecipesTest"/>
<parameter name="string" value="E"></parameter>
</classes>
</test> <!-- Test -->
<test name="TestF" >
<classes>
<class name="testCases.RecipesTest"/>
<parameter name="string" value="F"></parameter>
</classes>
</test> <!-- Test -->
<test name="TestG" >
<classes>
<class name="testCases.RecipesTest"/>
<parameter name="string" value="G"></parameter>
</classes>
</test> <!-- Test -->
<test name="TestH" >
<classes>
<class name="testCases.RecipesTest"/>
<parameter name="string" value="H"></parameter>
</classes>
</test> <!-- Test -->
<test name="TestI" >
<classes>
<class name="testCases.RecipesTest"/>
<parameter name="string" value="I"></parameter>
</classes>
</test> <!-- Test -->
<test name="TestJ" >
<classes>
<class name="testCases.RecipesTest"/>
<parameter name="string" value="J"></parameter>
</classes>
</test> <!-- Test -->
<test name="TestK" >
<classes>
<class name="testCases.RecipesTest"/>
<parameter name="string" value="K"></parameter>
</classes>
</test> <!-- Test -->
<test name="TestL" >
<classes>
<class name="testCases.RecipesTest"/>
<parameter name="string" value="L"></parameter>
</classes>
</test> <!-- Test -->
<test name="TestM" >
<classes>
<class name="testCases.RecipesTest"/>
<parameter name="string" value="M"></parameter>
</classes>
</test> <!-- Test -->
<test name="TestN" >
<classes>
<class name="testCases.RecipesTest"/>
<parameter name="string" value="N"></parameter>
</classes>
</test> <!-- Test -->
<test name="TestO" >
<classes>
<class name="testCases.RecipesTest"/>
<parameter name="string" value="O"></parameter>
</classes>
</test> <!-- Test -->
<test name="TestP" >
<classes>
<class name="testCases.RecipesTest"/>
<parameter name="string" value="P"></parameter>
</classes>
</test> <!-- Test -->
<test name="TestQ" >
<classes>
<class name="testCases.RecipesTest"/>
<parameter name="string" value="Q"></parameter>
</classes>
</test> <!-- Test -->
<test name="TestR" >
<classes>
<class name="testCases.RecipesTest"/>
<parameter name="string" value="R"></parameter>
</classes>
</test> <!-- Test -->
<test name="TestS" >
<classes>
<class name="testCases.RecipesTest"/>
<parameter name="string" value="S"></parameter>
</classes>
</test> <!-- Test -->
<test name="TestT" >
<classes>
<class name="testCases.RecipesTest"/>
<parameter name="string" value="T"></parameter>
</classes>
</test> <!-- Test -->
<test name="TestU" >
<classes>
<class name="testCases.RecipesTest"/>
<parameter name="string" value="U"></parameter>
</classes>
</test> <!-- Test -->
<test name="TestV" >
<classes>
<class name="testCases.RecipesTest"/>
<parameter name="string" value="V"></parameter>
</classes>
</test> <!-- Test -->
<test name="TestW" >
<classes>
<class name="testCases.RecipesTest"/>
<parameter name="string" value="W"></parameter>
</classes>
</test> <!-- Test -->
<test name="TestX" >
<classes>
<class name="testCases.RecipesTest"/>
<parameter name="string" value="X"></parameter>
</classes>
</test> <!-- Test -->
<test name="TestY" >
<classes>
<class name="testCases.RecipesTest"/>
<parameter name="string" value="Y"></parameter>
</classes>
</test> <!-- Test -->
<test name="TestZ" >
<classes>
<class name="testCases.RecipesTest"/>
<parameter name="string" value="Z"></parameter>
</classes>
</test> <!-- Test -->
</suite> <!-- Suite -->


